.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
comparison/*
!comparison/README.md
baselines/*
!baselines/README.md
*.zip
.idea/
.vscode/
